* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.input-div{
    margin: 20px 0;
    text-align: left;
}

.form-button {
    width: 100%;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
    font-family:"Tlwg Typo", serif;
    font-size: 1.25rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

body{
    font-weight: bold;
    font-family:"Tlwg Typo", serif;
    color: #f5f0f0;
}

.anonymous-bg {
    background: url('../images/parcel_delivery1.jpg');
    background-size: cover;
    background-position:center;
}

.center {
    text-align: center;
}

.content {
    padding-top: 60px;
}

.form-wrap {
    max-width: 400px;
    margin: auto;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #353535;
    border-radius: .3rem;
}

.form-input{
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

a {
    color: white;
    text-decoration: none;
}

.gray-btn {
    background-color: #f0f1f37a;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

    font-size: 1.25rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

body{
	font-weight: bold;
	font-family:"Tlwg Typo", serif;
	color: #f5f0f0;
}

.form-wrap {
	max-width: 400px;
	margin: auto;
	padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.form-input{
	display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

a {
	color: white;
	text-decoration: none;
}

.gray-btn {
	background-color: #f0f1f37a;
}

.form-button {
	width: 100%;
	display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
    font-family:"Tlwg Typo", serif;
    font-size: 1.25rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.form-wrap-index {
    max-width: 400px;
    margin: auto;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #353535bd;
    border-radius: .3rem;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.menu {
    display: flex;
}

.table-format tbody td {
    color: black;
}

table {
    border: thin solid black;
    border-collapse: collapse;
}

td, th {
    border: thin dotted gray;
    padding: 5px;
}

th {
    background-color: #cc6600;
}

tr:nth-child(even) {
    background-color: #fcba7a;
}

.table-format{
    max-height: 500px;
    overflow: auto;
    background-color: #35353514;
}

#top-menu {
        height: 33px;
        margin: 0;
        /*padding: 0;*/
        padding: 2rem 1rem;
    }

ul.menu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

ul.menu li {
    margin: 0;
    padding: 0;
}
ul.menu li a {
    
    float: left;
    max-height: 25px;
    width: 100px;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
}
ul.menu li a:hover { border-bottom: #600 solid 2px; }

.side-menu {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    background-color: #35353514;
    border-radius: .3rem;   
}

ul.tabs li{
    width: 100%;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
    font-family:"Tlwg Typo", serif;
    font-size: 1.25rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.tabs {
    max-height: 350px;
    overflow: auto;
}